.relleno{
    /* padding: 100px; */
    /* background-color: violet !important; */
}
.registro{
    box-shadow: 0px 0px 10px white,
                0px 0px 20px white;
    padding: 20px;      
    /* border-radius: 0px 50px 0px 50px;       */
    border-radius: 20px;
}
